<div class="white">
  <nav id="navBar" class="transparent">
    <div class="nav-wrapper container">

      <a href="#" class="brand-logo center">
        <img src="images/CreationStationLogo.png" alt="LOGO">
      </a>

      <ul id="navLinks" class="right">
        <li>
          <span>Artists</span>
        </li>
        <li>
          <span>Intellectual Properties</span>
        </li>
        <li>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars black-text"></i>
          </a>
        </li>
      </ul>


      <ul class="sidenav" id="mobile-demo">
        <li><a href="/content">Front Page</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
