<div id="bodyWrapper">
  <header id="header">
    <section>
      <img src="sources/CreationStationLogo.png" alt="LOGO">
    </section>
    <nav>
      <ul>
        <li><h4>Artists</h4></li>
        <li><h4>IP's</h4></li>
        <li><h4>Medias</h4></li>
        <li><h4>Search</h4></li>
      </ul>
    </nav>
  </header>
  <section class="imageSplash">
    <h1>Latest uploads</h1>
    <ul>
      <%firstSplash.forEach(image => { %>
        <li class ='imgContainer'>
          <img src="<%= image.url %>" alt="">
          <section class="textBox">
            <span class="artTitle"><%= image.name %></span>
            <span class="artist">By <%= image.creator %></span>
          </section>
        </li>
      <% })%>
    </ul>
  </div>
  </section>
