<div id="bodyWrapper">
  <header id="header">
    <section>
      <img src="#" alt="LOGO">
      <h3>Find your favorites</h3>
    </section>
    <nav>
      <ul>
        <li><h4>Artists</h4></li>
        <li><h4>IP's</h4></li>
        <li><h4>Media Type</h4></li>
        <li><h4>Search</h4></li>
      </ul>
    </nav>
  </header>
  <section id="imageSplash">
    <h1>New Art</h1>
    <ul>
      <%testMedia.forEach(image => { %>
        <li id ='imgContainer'>
          <img src="<%= image.url %>" alt="">
        </li>
      <% })%>
    </ul>
  </div>
  </section>
