*{
  box-sizing: border-box;
}

.login-container{
  width:400px;
  margin-top: 50px;
  text-align: center;
}

p{
  margin: 10px 0;
}

.fa-google{
  margin-right: 10px;
}

.card-image .fa-small{
  font-size: 16px;
}

.btn-float{
  float: left;
  margin-right: 10px;
}

.img-small{
  width: 4rem;
}

body{
  background-color: #19191a;
}

#bodyWrapper{
  width: 100%;
}

#navBar{
  display: flex;
  width: 100%;
  height: 80px;
}
#navBar a{
  line-height: 85px;
}
#navBar .brand-logo{
  display: flex;
  align-items: center;
  height: 100%;
}
#navLinks {
  height: 100%;
  display: flex;
}
