*{
  box-sizing: border-box;
}

body{
background-color: black;
font-family: 'Secular One', sans-serif;
color: black;
}

header{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  padding:1%;
}

header section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

header section img{
  max-width: 100%;
  transition: ease .3s;
}
header section img:hover{
  scale: .95;
  transition: ease .3s;
}

header nav{
  width: 75%;
}
header nav ul{
  display: flex;
  height: 100%;
}
header nav li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-left: 0px;
  border-left: 2px solid black;
  text-align: center;
}

header nav li:hover{
  background-color: silver;
  transition: ease .3s;
}

.splashLanding{
  display: flex;
  flex-wrap: wrap;
}

.splashLanding > *{
    max-width: 50%;
}

.imageSplash{
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 45vh;
  overflow: hidden;
  transition: ease .3s;
  padding: 1%;
  margin: 1%;
  scrollbar-width: thin;
  scrollbar-color: purple black;
  color: white;
  border: 3px solid silver;
  background-color: rgb(15, 15, 15);
}

.imageSplash::-webkit-scrollbar {
  width: 10px;
}

.imageSplash::-webkit-scrollbar-track {
  background: grey;
}

.imageSplash::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid purple;
}

.splashHeader{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.splashHeader button{
  color: purple;
  height: 50%;
  opacity: 0;
  transition: ease .3s;
}

.imageSplash h1{
  display: inline;
  position: sticky;
  top: 0;
  transition: ease .3s;
  color: silver;
  background-color: rgb(15, 15, 15);
  z-index: 1;
}

.imageSplash ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  padding-left: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.imgContainer{
  position: relative;
  display:flex;
  flex-direction: column;
  max-width: 33%;
  background-color: rgb(15, 15, 15);
  transition: .3s ease;
}


.imageSplash img{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  transition: ease .3s;
}

.imgContainer .textBox{
  transition: .3s ease;
  opacity: 0;
  width: 100%;
  top: 0;
  text-align: center;
  font-size: .8rem;
  color: black;
}

.imgContainer:hover{
  background-color: silver;
}

.imgContainer:hover .textBox{
  opacity: 1;
  scale: .95;
}

.imageSplash .imgContainer:hover img{
  scale: .95;
  transition: ease .3s;
  z-index: 0
}

@media screen and (min-width: 1200px){


  .imageSplash .imgContainer{
    width: 24%;
  }

}

@media screen and (max-width: 1199px){
  header section h3{
    display: none;
  }

  header nav{
    font-size: .6rem;
  }

  .imageSplash .imgContainer img{
    border: none;
  }

  .splashLanding > *{
    max-width: 100%;
    font-size: .6rem;
  }
